body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-image: url(img/7882609.jpg);
  background-position: center;
}

h1 {
  justify-items: center;
  align-items: end;
  color: #fff;
  font-size: 6rem;
  font-family: "Great Vibes", cursive;
  margin-bottom: 35px;
  padding: 0px;
  display: grid;
}

h2 {
  display: grid;
  justify-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
  font-weight: 200;
}

h4 {
  font-weight: 350;
}

section {
  display: flex;
  justify-content: center;
  width: 1545px;
}

.btn1{
  background-color: #B0714E;
  color: aliceblue;
  border: 0px;
  display: flex;
  justify-content: center;
  width: 120px;
  padding: 8px;

}
.btn2{
  background-color: #B0714E;
  color: aliceblue;
  border: 0px;
  display: flex;
  justify-content: center;
  width: 120px;
  padding: 8px;
  margin-top: 15px;
}
.btn2:hover {
  background-color: rgb(4, 4, 163);
}

.btn1:hover {
  background-color: rgb(4, 4, 163);
}
.sec1 {
  height: 600px;
  background-image: url(img/IMG_2064.jpg);
  background-position: center;
  background-size: cover;
}
.sec2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 400px;
}
.sec2 div {
  margin: 0px 50px;
}

.sec3 {
  background-color: #B0714E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.sec3 h3 {
  size: 3rem;
  color: aliceblue;
}
.sec3 h4 {
  size: 2rem;
  color: aliceblue;
}

.frase {
  text-align: center;
  width: 300px;
}
.frase2 {
  text-align: center;
  width: 500px;
}
.sec4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1500px;
}

.sec5 {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color:#FFE8CF;
  margin-top: 45px;
  height: 300px;
  width: 900px;
  position: relative; /* Asegura que el pseudo-elemento se posicione relativamente a este contenedor */
}

.sec5::before {
  content: '';
  position: absolute; /* Posiciona el pseudo-elemento absolutamente dentro del contenedor */
  top: 10px; /* Ajusta el desplazamiento del borde */
  bottom: 10px;
  left: 10px;
  right: 10px;
  border: 3px solid #B0714E; /* Define el grosor y color del borde */
  box-sizing: border-box; /* Asegura que el tamaño incluye el borde */
}

.sec6 {
  margin-top: 65px;
  background-color:  #B0714E;
  justify-items: center;
  display: grid;
  height: 550px;
}
.sec6 h3 {
  margin: 55px 0px 0px 0px;
  font-size: xx-large;
  color: aliceblue;
}

.sec6 h2 {
  margin: 15px 0px 0px 0px;
  font-size: medium;
  color: aliceblue;
}
.sec7 {
  background-color: #FFE8CF;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 400px;
}

.regalo{
  justify-content: center;
  width: 160px;
  height: 80px;
  background-image: url(img/Regalo.png);
  background-size: cover;
  background-position: center;

}

.anuncio{
  text-justify: center;
  text-align: center;
}

.sec7 h3 {
  margin: 0px;
  font-size: xx-large;
  color: rgb(28, 28, 29);
}

.sec7 h2 {
  margin: 15px 0px 0px 0px;
  font-size: medium;
  color: rgb(43, 43, 44);
}
.foto{
  height: 400px;
  width: 50%;
  background-image: url(img/IMG_2063.jpg);
  background-position: center;
  background-size: cover;
}
.anuncio{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 50%;
}

.info_3{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.vestido{
  display: flex;
}


.info_vest1{
  margin: 35px;
  width: 275px;
  height: 375px;
  border: 5px;
  background-image: url(img/vestido.png);
  background-size: cover;
  background-position: center;
}
.info_vest2{
  text-align: center;
  margin: 35px;
  width: 275px;
  height: 375px;
  border: 10px;
  border-color: #0A3B63;
}
.info_vest3{
  margin: 35px;
  width: 275px;
  height: 375px;
  border: 5px;
  background-image: url(img/traje\ hombre.png);
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 255px;
}

.container h2{
  justify-content: left;
  color: black;
  font-weight: 400;
  font-size: medium;
}
.container h3{
  color: black;
  font-size: x-large;
}
.iglesia {
  background-image: url(img/igle.png);
  background-position: center;
  background-size: cover;
  margin: 35px;
  width: 157px;
  height: 159px;
}
.recep {
  background-image: url(img/recep.png);
  background-position: center;
  background-size: cover;
  margin: 35px;
  width: 157px;
  height: 159px;
}

.ceremonia {
  display: grid;
  width: 350px;
  height: auto;
  margin-left: 65px;
}


#imagen1 {
  background-image: url(img/IMG_2068.jpg);
  background-position: center;
  background-size: cover;
}

#imagen2 {
  background-image: url(img/IMG_2067.jpg);
  background-position: center;
  background-size: cover;
}
#imagen3 {
  background-image: url(img/IMG_2065.jpg);
  background-position: center;
  background-size: cover;
}

#imagen4 {
  background-image: url('img/7882609.jpg');
}

#imagen5 {
  background-image: url('img/IMG_2069.jpg');
}


.sec4 img {
  margin-top: 50px;
  width: 500px;
}

.Encabezado {
  text-align: center;
  margin-top: 35px;
  font-size: 2rem;
}

.cancion {
  display: flex;
  justify-content: center;
}

.titulo {
  display: flex;
  flex-direction: column;
  height: auto;
}

.simply-section {
  background: rgba(255, 255, 255, 0.1); /* color de fondo translúcido */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* desenfoque del fondo */
  -webkit-backdrop-filter: blur(10px); /* soporte para Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* borde blanco translúcido */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* color del texto */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 90px;
  height: 100px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.simply-amount {
  color: azure;
  display: block;
  font-size: xx-large;
  font-weight: 850;
}
#cuenta {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 100px;
}

.Padres {
  display: flex;
  justify-content: center;
  text-align: center;
}

.formu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  height: 400px;
  width: 650px;
  background-color:#FFE8CF ;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.form-floating{
  width: 350px;
  display: flex;
  flex-direction: column;
  
}
input{
  padding: 7px;
  border: none;
  margin: 5px;
}

.formu h2{
  color: black;
  margin-top: 5px ;
  margin-bottom: 0px;
}


.carousel-container {
  margin-top: 45px;
  position: relative;
  height: 475px;
  width: 80%;
  max-width: 900px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: calc(100% * 5 / 3); /* Ajustar el ancho total según la cantidad de elementos */
}

.carousel-item {
  width: calc(100% / 3);
  height: 475px;
  background-size: cover;
  background-position: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 15px;
  z-index: 1;
  border-radius: 3px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
